@using Epam.Mercato.WebPL.Models;
@{
    Layout = null;
    UserRoleProvider roleProvider = new UserRoleProvider();

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <title>@Page.Title</title>
</head>
<body>
    <div class="layout"></div>
    <div class="header">
        <div class="container">
            <div class="header-text"><a href="~/">Mercato</a></div>
            <div class="header-nav">

                <a href="~/">Каталог</a>
                <a href="~/producers">Бренды</a>
                <a href="~/about">О компании</a>
            </div>
            <div class="header-login">
                @if (User.Identity.IsAuthenticated)
                {<text>[</text><a href="~/EditUserInfo">@User.Identity.Name</a><text>]&nbsp;<a href="~/SignOutUser">SignOut</a></text>}
            </div>
        </div>
    </div>

    <div class="container container-main main">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>