USE [master]
GO
/****** Object:  Database [mercato]    Script Date: 10.03.2020 0:42:43 ******/
CREATE DATABASE [mercato]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mercato', FILENAME = N'D:\Program Files (x86)\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\mercato.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mercato_log', FILENAME = N'D:\Program Files (x86)\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\mercato_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mercato].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mercato]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 10.03.2020 0:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 10.03.2020 0:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 10.03.2020 0:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone_num] [nvarchar](10) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moderators]    Script Date: 10.03.2020 0:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moderators](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_moderators] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 10.03.2020 0:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer] [int] NOT NULL,
	[datetime] [datetime] NOT NULL,
	[fullprice] [money] NOT NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_product]    Script Date: 10.03.2020 0:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_product](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_order_product] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producers]    Script Date: 10.03.2020 0:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[logo] [varbinary](max) NULL,
 CONSTRAINT [PK_producer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 10.03.2020 0:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(100001,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[category] [int] NOT NULL,
	[producer] [int] NOT NULL,
	[characteristics] [nvarchar](max) NOT NULL,
	[country] [int] NOT NULL,
	[photo] [varbinary](max) NULL,
	[price] [money] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'Декоративное освещение')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Лампы')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Уличное освещение')
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[country] ON 

INSERT [dbo].[country] ([id], [name]) VALUES (1, N'Россия')
INSERT [dbo].[country] ([id], [name]) VALUES (2, N'Италия')
INSERT [dbo].[country] ([id], [name]) VALUES (3, N'Испания')
SET IDENTITY_INSERT [dbo].[country] OFF
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([id], [name], [phone_num], [password]) VALUES (1, N'Andrey', N'9626246578', N'123456')
INSERT [dbo].[customer] ([id], [name], [phone_num], [password]) VALUES (2, N'Sergey', N'9426514789', N'123456')
INSERT [dbo].[customer] ([id], [name], [phone_num], [password]) VALUES (3, N'Alexey', N'9877898574', N'123456')
SET IDENTITY_INSERT [dbo].[customer] OFF
SET IDENTITY_INSERT [dbo].[moderators] ON 

INSERT [dbo].[moderators] ([id], [login], [password], [role]) VALUES (20, N'VictorS', N'217230118452092002342462142760971462526414177109951711820819414510518836231286339742101272058817179192141292472299419245115212153201848518218118780582078779186143254133', N'administrator')
INSERT [dbo].[moderators] ([id], [login], [password], [role]) VALUES (23, N'Administrator', N'217230118452092002342462142760971462526414177109951711820819414510518836231286339742101272058817179192141292472299419245115212153201848518218118780582078779186143254133', N'administrator')
INSERT [dbo].[moderators] ([id], [login], [password], [role]) VALUES (29, N'moderator', N'1882551672041809614814919223891041377612621029011415320154832322139189248214492291552397679145193954252169981619199251242321572302461221401361601082305724381214172185', N'moderator')
SET IDENTITY_INSERT [dbo].[moderators] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [customer], [datetime], [fullprice]) VALUES (6, 2, CAST(N'2020-02-21T14:56:00.000' AS DateTime), 1850.0000)
INSERT [dbo].[order] ([id], [customer], [datetime], [fullprice]) VALUES (7, 1, CAST(N'2020-03-03T17:51:51.000' AS DateTime), 2450.0000)
SET IDENTITY_INSERT [dbo].[order] OFF
INSERT [dbo].[order_product] ([order_id], [product_id], [quantity]) VALUES (6, 100002, 2)
INSERT [dbo].[order_product] ([order_id], [product_id], [quantity]) VALUES (6, 100014, 3)
INSERT [dbo].[order_product] ([order_id], [product_id], [quantity]) VALUES (7, 100004, 3)
SET IDENTITY_INSERT [dbo].[producers] ON 

SET IDENTITY_INSERT [dbo].[producers] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_customer] FOREIGN KEY([customer])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_customer]
GO
ALTER TABLE [dbo].[order_product]  WITH CHECK ADD  CONSTRAINT [FK_order_product_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
GO
ALTER TABLE [dbo].[order_product] CHECK CONSTRAINT [FK_order_product_order]
GO
ALTER TABLE [dbo].[order_product]  WITH CHECK ADD  CONSTRAINT [FK_order_product_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_product] CHECK CONSTRAINT [FK_order_product_products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_country] FOREIGN KEY([country])
REFERENCES [dbo].[country] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_country]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_producer] FOREIGN KEY([producer])
REFERENCES [dbo].[producers] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_producer]
GO
/****** Object:  StoredProcedure [dbo].[AddModerator]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddModerator]
	@login NVARCHAR(MAX),
	@password NVARCHAR(MAX),
	@role NVARCHAR(MAX),
	@id INT OUTPUT
AS
BEGIN
		INSERT INTO moderators (login, password, role)
		Values (@login, @password, @role)

		set @id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[AddProducer]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProducer]
	@id INT OUTPUT, @name NVARCHAR(50), @logo VARBINARY(MAX)
AS
BEGIN
	INSERT INTO producers (name, logo)
	VALUES (@name, @logo)
	set @id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProduct]
	@id INT OUTPUT, @name NVARCHAR(50), @category INT, @producer INT, @characteristics NVARCHAR(MAX), @country INT, @photo VARBINARY(MAX), @price MONEY
AS
BEGIN
	SET ANSI_NULLS OFF
	IF @photo=NULL
	INSERT INTO products (name, category, producer, characteristics, country,  price) VALUES (@name, @category, @producer, @characteristics, @country, @price)
	ELSE
	INSERT INTO products (name, category, producer, characteristics, country, photo, price)	VALUES (@name, @category, @producer, @characteristics, @country, @photo, @price)
	set @id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteModerator]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteModerator]
	@id INT
AS
BEGIN
	DELETE moderators WHERE id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProducer]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProducer]
	@id INT
AS
BEGIN
	DELETE producers WHERE id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProduct]
	@id INT
AS
BEGIN
	DELETE products WHERE id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[EditModerator]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditModerator] 
	@id INT, @login NVARCHAR(MAX), @password NVARCHAR(MAX), @role NVARCHAR(MAX)
AS
BEGIN
	UPDATE moderators SET login=@login, password=@password, role=@role WHERE id=@id

END
GO
/****** Object:  StoredProcedure [dbo].[EditProducer]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditProducer]
	@id INT, @name NVARCHAR(50), @logo VARBINARY(MAX)
AS
BEGIN
	SET ANSI_NULLS OFF
	IF @logo = NULL
		UPDATE producers SET name=@name WHERE id=@id
	ELSE
		UPDATE producers SET name=@name, logo=@logo WHERE id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[EditProduct]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditProduct]
	@id INT, @name NVARCHAR(50), @category INT, @producer INT, @characteristics NVARCHAR(MAX), @country INT, @photo VARBINARY(MAX), @price MONEY
AS
BEGIN
	SET ANSI_NULLS OFF
	IF @photo = NULL
		UPDATE products	SET name=@name, category=@category, producer=@producer, characteristics=@characteristics, country=@country, price=@price WHERE id=@id
	ELSE
		UPDATE products	SET name=@name, category=@category, producer=@producer, characteristics=@characteristics, country=@country, photo=@photo, price=@price WHERE id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategories]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategories]

AS
BEGIN
SELECT [id]
      ,[name]
  FROM [mercato].[dbo].[categories]
END
GO
/****** Object:  StoredProcedure [dbo].[GetCountries]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCountries]

AS
BEGIN
SELECT [id]
      ,[name]
  FROM [mercato].[dbo].[country]
END
GO
/****** Object:  StoredProcedure [dbo].[GetModerators]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetModerators]
AS
BEGIN
	SELECT [id]
      ,[login]
      ,[role]
  FROM [mercato].[dbo].[moderators]
END
GO
/****** Object:  StoredProcedure [dbo].[GetPassword]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPassword]
@id INT
AS
BEGIN
	SELECT [password]
  FROM [mercato].[dbo].[moderators] WHERE id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[GetProducers]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProducers] 
	
AS
BEGIN
	SELECT [id], [name], [logo] FROM [mercato].[dbo].[producers]
END
GO
/****** Object:  StoredProcedure [dbo].[GetProducts]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProducts]

AS
BEGIN
SELECT [id]
      ,[name]
      ,[category]
      ,[producer]
      ,[characteristics]
      ,[country]
      ,[photo]
      ,[price]
  FROM [mercato].[dbo].[products]
END
GO
/****** Object:  StoredProcedure [dbo].[SelectOrders]    Script Date: 10.03.2020 0:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SelectOrders] 

AS
BEGIN
SELECT order_product.order_id, products.name, order_product.quantity FROM order_product INNER JOIN products ON product_id=id
END
GO
USE [master]
GO
