@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    Oops. Something went wrong. Return to <a href="~/index.cshtml">index</a>
    </div>
</body>
</html>
