@using Epam.Mercato.BLL.Interfaces;
@using Epam.Mercato.Entities;
@using Epam.Mercato.IOC;
@using Epam.Mercato.Handlers;
@using log4net;
@using log4net.Config;
@{

    Layout = "~/Pages/main/_MainLayout.cshtml";
    Page.Title = "Mercato. Товары для отделки";

}
<div class="container">
    Здесь какая-то уберважная информация о компании
</div>