@using Epam.Mercato.BLL.Interfaces;
@using Epam.Mercato.Entities;
@using Epam.Mercato.IOC;
@using Epam.Mercato.WebPL.Models;
@{
    Layout = "~/Pages/administrator/_AdministratorLayout.cshtml";
    Page.Title = "Edit user";
    AdministratorRoleProvider roleProvider = new AdministratorRoleProvider();
    if (!roleProvider.IsUserInRole(User.Identity.Name, "administrator"))
    {
        Response.Redirect("~/Pages/administrator");
    }
    IModeratorLogic moderatorLogic = DependencyResolver.ModeratorLogic;
    Moderator moderatorForEdit = null;
    string errorMessage = null;
    int id = 0;
    if (!IsPost)
    {
        if (int.TryParse(Request["id"], out id) && id != 0)
        {
            if (moderatorLogic.GetById(id) != null)
            {
                moderatorForEdit = moderatorLogic.GetById(id);
            }
        }
    }
    if (IsPost)
    {
        if (int.TryParse(Request["id"], out id) && id != 0)
        {
            string login = Request["login"];
            string password = Request["password"];
            string role = Request["role"];
            Role newRole;
            if (moderatorLogic.GetById(id).Login != login && !moderatorLogic.IsUniqueLogin(login))
            {
                errorMessage = "Moderator with this username already exists!";
            }
            if (!moderatorLogic.IsValidLogin(login))
            {
                errorMessage = "Invalid Login. Login must contain letters a-z A-Z or degrees 0-9. Password must contain 6 and more symbols. Login must start with letter!";
            }
            if (!moderatorLogic.IsValidPassword(password))
            {
                errorMessage = "Invalid Password. Password must contain letters a-z A-Z, degrees 0-9 or symbols [!, $, .]. Password must contain 8 and more symbols!";
            }
            if (!Enum.TryParse(role, true, out newRole))
            {
                errorMessage = "You must choose role!";
            }
            if (errorMessage == null)
            {
                moderatorLogic.EditModerator(id, login, password, newRole);
                Response.Redirect("~/pages/administrator/moderators");
            }
        }
    }
}

    <form action="~/Pages/administrator/EditModerator.cshtml" method="post">
        <input type="text" name="id" value="@id" hidden />
        <div class="form-group row">
            <label for="login" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-6">
                <input type="text" name="login" id="login" class="form-control" value="@if (moderatorForEdit != null) {@moderatorForEdit.Login}" />
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-6">
                <input type="password" name="password" id="password" class="form-control" />
            </div>
        </div>
        <div class="form-group row col-sm-12">
            <div class="form-check form-check-inline">
                <input type="radio" id="moderator" class="form-check-input" name="role" value="Moderator" @if (moderatorForEdit != null && moderatorForEdit.ModeratorRole == Role.moderator) { <text> checked</text>}>
                <label for="moderator" class="col-sm-2 col-form-label">Moderator</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="administrator" name="role" value="Administrator" @if (moderatorForEdit != null && moderatorForEdit.ModeratorRole == Role.administrator) { <text> checked</text>}>
                <label for="administrator" class="col-sm-2 col-form-label">Administrator</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Edit</button>
        <a href="~/Pages/administrator/moderators"><div class="btn btn-dark mb-2">Back to moderators</div></a>
    </form>
            @if (errorMessage != null)
            {
                <div class="alert-danger">@errorMessage</div>
            }

